@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

.templateImg{
  background-image: url("../public/templateImg.jpeg");
}

#root{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;

}

.ql-toolbar{
  margin-bottom: 20px;
 

  background-color: #fff;
  font-family: "Noto Sans", serif;
  border-radius: 20px;
}
.ql-container {
  background-color: #fff;
  border-top: 4px solid #242424;
  font-size: large;
  font-family: "Noto Sans", serif;
  line-height: 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}
.ql-editor {
  line-height: 40px;
  border-top: 1px solid #ccc;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.ql-formats{
    font-family: "Noto Sans", serif;
    padding: 10px;
    color:"#242424";
    
}